<div class="event row flex-items-md-middle">
	{{#if ctaButton}}
	<div class="col-md-5 col-lg-6 col-xl-5 offset-xl-1">
	{{else}}
	<div class="col-md-8 col-xl-7 offset-xl-1">
	{{/if}}
		<h3 class="event-listing-title"><a href="/event.html">{{title}}</a></h3>
	</div>

	<div class="col-xs-7 col-md-4 col-xl-3">
		<p class="event-details">{{{details}}}</p>
	</div>

	{{#if ctaButton}}
	<div class="col-xs-5 col-md-3 col-lg-2">
		<a href="#" class="btn btn-{{btnClass}} btn-block event-cta-action ">{{btnText}}</a>
	</div>
	{{/if}}
</div>
